{% extends 'base.html' %} {% block content %}

<h3 >Random password generator</h3>

<p><a href="{% url 'about' %}">About us</a></p>

{% comment %} <p>Password: {{ password1 }}</p> {% endcomment %}

<form action="{% url 'password' %}">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Password length</label>
        <select class="form-control" id="exampleFormControlSelect1" name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="12" selected="selected">12</option>
            <option value="14">14</option>
        </select>
    </div>
<div class="form-check mb-2">
  <input class="form-check-input" type="checkbox" value="on" id="defaultCheck1" name="numbers">
  <label class="form-check-label" for="defaultCheck1">
    include integers
  </label>
</div>
<div class="form-check mb-2">
  <input class="form-check-input" type="checkbox" value="on" id="defaultCheck2" name="uppercase">
  <label class="form-check-label" for="defaultCheck2">
    include uppercase
  </label>
</div>
<div class="form-check mb-2">
  <input class="form-check-input" type="checkbox" value="on" id="defaultCheck3" name="special">
  <label class="form-check-label" for="defaultCheck3">
    include special characters
  </label>
</div>
<button type="submit" class="btn btn-primary">generate password</button>
</form>

{% endblock %}